@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  white-space: pre-wrap; /* Wrap long lines */
  word-break: break-word; /* Break long words */
  overflow-x: auto; /* Add horizontal scroll if needed */
  max-width: 100%; /* Ensure it doesn't exceed the container's width */
}

.hljs {
  @apply py-1 pb-5 rounded-md leading-normal;
}

.chatoutput ol {
  @apply py-1.5;
}

code {
  font-size: 0.875rem;
  @apply px-1 py-0.5 rounded bg-[#22272e] text-white;
}

.chatoutput li {
  @apply list-decimal ml-4 py-0.5;
}

.chatoutput p {
  @apply py-1.5;
}


